
<tr>
  <td><%=train.train_number%></td>
  <td><%=train.departure_station%></td>
  <td><%=train.termination_station%></td>
  <td><%=train.departure_date%></td>
  <td><%=train.departure_time%></td>
  <td><%=train.arrival_date%></td>
  <td><%=train.arrival_time%></td>
  <td><%=train.ratings %></td>
  <td><%=train.ticket_price%></td>
  <td><%=train.train_capacity%></td>
  <td><%=train.seats_left%></td>
  <%if current_user.id==1%>
    <td><%= link_to "Show this train", train %></td>
  <% end %>
  <!--Addmoretablecellsforotherproductattributes-->
</tr>


