<style>
    .bordered-table {
        border-collapse: collapse;
        width: 100%;
    }

    .bordered-table th, .bordered-table td {
        border: 1px solid #000; /* Change #000 to the color you want for the border */
        padding: 8px;
        text-align: left;
    }

    .bordered-table th {
        background-color: #f0f0f0; /* Change to the background color you want for headers */
    }
</style>

<h1 class="text-center">Users</h1>

<table class="bordered-table">
  <thead class="thead-dark">
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Credit Card</th>
    <th>Visit</th>
    <th>Destroy</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.address %></td>
      <td><%= user.credit_card_info %></td>
      <td><%= link_to "View", traveller_path(user), class: "btn btn-primary" %></td>
      <td><%= button_to "Destroy this user", traveller_path(user), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New passenger", new_traveller_path %>