<style>
    .bordered-table {
        border-collapse: collapse;
        width: 100%;
    }

    .bordered-table th, .bordered-table td {
        border: 1px solid #000; /* Change #000 to the color you want for the border */
        padding: 8px;
        text-align: left;
    }

    .bordered-table th {
        background-color: #f0f0f0; /* Change to the background color you want for headers */
    }
</style>
<h1>Tickets</h1>

<%if current_user.id==1 %>
  <table class="bordered-table" >
    <thead >
    <tr>
      <th>Train Number</th>
      <th>Departure Station</th>
      <th>Termination station</th>
      <th>Departure Date</th>
      <th>Arrival Date</th>
      <th>Arrival Time</th>
      <th>Ratings</th>
      <th>Ticket Price</th>
      <th>Confirmation Number</th>
      <th>Booking</th>
    </tr>
    </thead>

    <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.train.train_number %></td>
        <td><%= ticket.train.departure_station %></td>
        <td><%= ticket.train.termination_station %></td>
        <td><%= ticket.train.departure_date %></td>
        <td><%= ticket.train.arrival_date %></td>
        <td><%= ticket.train.arrival_time %></td>
        <td><%= ticket.train.ratings %></td>
        <td><%= ticket.train.ticket_price %></td>
        <td><%= ticket.confirmation_number %></td>
        <td><%= button_to "Cancel Ticket", ticket, method: :delete, data: { confirm: 'Are you sure you want to cancel the ticket?' }, class: "btn btn-primary m-3" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <h1>Past Tickets</h1>
  <table class="bordered-table" >
    <thead >
    <tr>
      <th>Train Number</th>
      <th>Departure Station</th>
      <th>Termination station</th>
      <th>Departure Date</th>
      <th>Arrival Date</th>
      <th>Arrival Time</th>
      <th>Ratings</th>
      <th>Ticket Price</th>
      <th>Confirmation Number</th>
    </tr>
    </thead>

    <tbody>
    <% @past_tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.train.train_number %></td>
        <td><%= ticket.train.departure_station %></td>
        <td><%= ticket.train.termination_station %></td>
        <td><%= ticket.train.departure_date %></td>
        <td><%= ticket.train.arrival_date %></td>
        <td><%= ticket.train.arrival_time %></td>
        <td><%= ticket.train.ratings %></td>
        <td><%= ticket.train.ticket_price %></td>
        <td><%= ticket.confirmation_number %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <h1>Upcoming Tickets</h1>
  <table class="bordered-table" >
    <thead >
    <tr>
      <th>Train Number</th>
      <th>Departure Station</th>
      <th>Termination station</th>
      <th>Departure Date</th>
      <th>Departure Time</th>
      <th>Arrival Date</th>
      <th>Arrival Time</th>
      <th>Ticket Price</th>
      <th>Confirmation Number</th>
      <th>Booking</th>
    </tr>
    </thead>

    <tbody>
    <% @upcoming_tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.train.train_number %></td>
        <td><%= ticket.train.departure_station %></td>
        <td><%= ticket.train.termination_station %></td>
        <td><%= ticket.train.departure_date %></td>
        <td><%= ticket.train.departure_time %></td>
        <td><%= ticket.train.arrival_date %></td>
        <td><%= ticket.train.arrival_time %></td>
        <td><%= ticket.train.ticket_price %></td>
        <td><%= ticket.confirmation_number %></td>
        <td><%= button_to "Cancel Ticket", ticket, method: :delete, data: { confirm: 'Are you sure you want to cancel the ticket?' }, class: "btn btn-primary m-3" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

