<style>
    .bordered-table {
        border-collapse: collapse;
        width: 100%;
    }

    .bordered-table th, .bordered-table td {
        border: 1px solid #000; /* Change #000 to the color you want for the border */
        padding: 8px;
        text-align: left;
    }

    .bordered-table th {
        background-color: #f0f0f0; /* Change to the background color you want for headers */
    }
</style>


<h1>Reviews</h1>


<%= form_tag reviews_path, method: 'get' do |form| %>
  <%= hidden_field_tag "filter_applied", true %>

  <label for="reviews_by_user" class="m-3">Enter Username: </label>
  <input type="text" name="user_name" id="reviews_by_user" class="m-3">

  <label for="reviews_for_train" class="m-3">Enter train number: </label>
  <input type="text" name="train_number" id="reviews_for_train" class="m-3">


  <%= submit_tag 'Search', class: "btn btn-outline-success m-3" %>





<% end %>
<br>
<table class="bordered-table">
  <thead class="thead-dark">
  <tr>
    <th>User Name</th>
    <th>Train Number</th>
    <th>Rating</th>
    <th>Feedback</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.user.name %></td>
      <td><%= review.train.train_number %></td>
      <td><%= review.rating %></td>
      <td><%= review.feedback %></td>
      <td><%= link_to "Show this review", review %></td>
      <td>
        <% if current_user && current_user == review.user || current_user.id == 1 %>
        <%= link_to "Edit this review", edit_review_path(review) %>
        <% else %>
        No permission
        <% end %>
      </td>
      <td>
        <% if current_user && current_user == review.user || current_user.id == 1 %>
          <%= button_to "Destroy this review", review, method: :delete %>
        <% else %>
          No permission
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to "Add Review", new_review_path %>
<!--<div id="reviews">-->
<%# @reviews.each do |review| %>
<%#= render review %>
<%#= link_to "Show this review", review %>
<%# end %>
<!--</div>-->

