<!DOCTYPE html>
<html>
  <head>
    <title>RailsTicketingSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p style="color: green" class="notice"><%= notice %></p>
  <p style="color: red" class="alert"><%= alert %></p>
  <% if user_signed_in? %>
  <%= link_to "Home Page", home_index_path, class: "nav-link ml-auto" %>
  <%end %>
  <%= yield %>
  </body>
</html>
